{
    "presets": [
      [
        "@babel/env",
        { "modules": false }
      ]
    ],
    "plugins": [],
    "env": {
      "test": {
        "presets": [ "@babel/env" ],
        "plugins": []
      }
    }
  }
  